<div class="flex flex-row flex-wrap min-h-screen justify-start items-start">

  <div class="w-full">
    <div class="bg-ex-darkblue w-full shadow-xl flex items-center h-16">
      <a href = "https://sew-technicaltest.staging.oregon.platform-os.com/" class="text-white font-semibold -mt-px ml-3 pl-3 border-l border-ex-lightblue">
        SalonEverywhere
        <span class="font-light">Technical Test</span>
      </a>
    </div>
  </div>

  <div class="my-10 px-10 md:px-0 w-full">
    <h2 class="text-2xl font-semibold text-center">
        Thank You!
    </h2>
  </div>

  <div class="bg-ex-lightgrey mt-auto w-full">
    <div class="max-w-2xl flex justify-between items-center mx-auto py-3">
      <a href="https://saloneverywhere.com/" target="_blank">SalonEverywhere</a>
      

      <p class="-mt-px ml-3 pl-3 border-l border-ex-lightblue">
        <span class="font-light">Technical Test</span>
      </p>
    </div>

  </div>

</div>