---
to: '{{ form.email }}'
delay: 0
enabled: true
trigger_condition: true
from: zrickyfanz@outlook.com
reply_to: zrickyfanz@outlook.com
subject: 'Welcome to SalonEverywhere!'
layout_path: mailer
---
<h1>Hi!</h1>

<p>Welcome to SalonEverywhere! Please go to the following link and complete the survey</p>
<a href="https://sew-technicaltest.staging.oregon.platform-os.com/survey">
    COVID-19 symptoms screening questionnaire
</a>